GN_INVITE_PASSWORD=remplace-moi-par-un-mot-de-passe-invitation-fort
GN_ADMIN_PASSWORD=remplace-moi-par-un-mot-de-passe-admin-fort
NEXT_PUBLIC_SUPABASE_URL=https://ton-projet.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=remplace-moi-par-la-cle-publique-supabase
SUPABASE_SECRET_KEY=remplace-moi-par-la-secret-key-ou-service-role-key
